.formInput {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    margin-bottom: 15px;
}

.formInput label {
    font-weight: bold;
    margin-bottom: 10px;
    color: #999999;
    text-transform: capitalize;
    letter-spacing: 3px;
    background: linear-gradient(90deg, #00dbde, #fc00ff);
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.input {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 2px solid #201639;
    padding: 12px;
    color: gray;
    border-radius: 5px;
    width: 100%;
}

.input input {
    border: none;
    outline: none;
    background-color: transparent;
    font-weight: bold;
    color: gray;
    height: 100%;
    width: 100%;
}