@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
.sectionTitle{
    background: linear-gradient(90deg, #fc00ff, #00dbde);
    color: transparent;
    font-family: 'Righteous', cursive;
    font-size: 40px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sectionTitle::after{
    content: '';
    position:absolute;
    clear:both;
    width: 50px;
    height: 5px;
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, #fc00ff, #00dbde);
}
.cardItem{
    margin:20px;
    height: 100%;

    color: white !important;
    background: #261a44 !important;
}
.playBtn{
    border: none;
    color: white;
    outline: none;
    background:transparent;
    cursor:pointer;
    letter-spacing: 4px;
    padding: 15px 30px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    transition:all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;

}
.playBtn{
    border: 2px solid #fc00ff;
    margin-right:10px;
}
.playBtn:hover{
    color: white;
    border:2px solid #00dbde;
    box-shadow: inset 0 0 0 35px #00dbde,
    0 0 5px 0 #00dbde,
    0 0 25px 0 #00dbde,
    0 0 50px 0 #00dbde,
    0 0 100px 0 #00dbde,
}  